@import url("https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap");
body {
  font-family: "Oswald", sans-serif;
}

.top-nav {
  font-weight: bolder;
  height: 100px;
  font-size: 22px;
  position: sticky !important;
  top: 0;
  z-index: 10;
}

.login-form {
  border: 1px solid lightgray;
  background-color: white;
}

.navbar {
  background-color: #333333;
  color: white;
  font-family: "Oswald", sans-serif;
}
.bg-color {
  background-color: #fdf9f3;
}
.theme-color {
  background-color: whitesmoke;
}
.card-label {
  border-bottom: 1px solid black;
}
.picture-fix {
  max-height: 200px;
  max-width: 225px;
}
.min-height {
  min-height: 244px;
}
.hide {
  display: none;
}
.h-100 {
  height: calc(100vh);
}

.card-mb {
  margin-bottom: 5%;
}

/* // ---------------ClearFix-------------------// */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* medium screen ipads */
@media only screen and (max-width: 559px) {
  .form-width {
    width: 75%;
  }

  .card.project-card {
    width: 96%;
    float: left;
    height: 24rem;
    margin: 0.5rem 2%;
  }
}

/* medium screen ipads */
@media only screen and (min-width: 560px) {
  .form-width {
    width: 55%;
  }

  .card.project-card {
    width: 46%;
    float: left;
    height: 24rem;
    margin: 0.5rem 2%;
  }
}

/* This is default */
@media only screen and (min-width: 1140px) {
  .form-width {
    width: 40%;
  }
  .card.project-card {
    width: 21%;
    float: left;
    height: 24rem;
    margin: 0.5rem 2%;
  }
}
